.git
.gitignore
.idea

.DS_Store
README.md

# Ignore the main Dockerfile and docker-compose_prod.yaml
Dockerfile
docker-compose_prod.yaml

# Ignore the dags, logs, and plugins directories
logs
plugins
