astronomer-cosmos==1.10.1
dbt==1.0.0.40.5
dbt-duckdb==1.9.4
duckdb==1.3.1
#astro-sdk-python==1.8.1
astro-sdk-python[amazon,duckdb]
airflow-provider-duckdb==0.2.0
apache-airflow-providers-amazon==9.9.0
pandas==2.2.3
aiohttp==3.11.18
minio==7.2.15